.container {
  max-width: 800px;
}

.list-group-item {
  transition: all 0.3s ease;
  border-radius: 8px;
  margin-bottom: 10px;
}

.list-group-item:hover {
  background-color: #f8f9fa;
}

.rounded-circle {
  margin-right: 15px;
}

.user-details {
  flex-grow: 1;
}

.user-details strong {
  display: block;
  font-size: 1.1em;
}

.text-muted {
  font-size: 0.9em;
}

.button-group {
  display: flex;
  align-items: center;
}

.btn-primary,
.btn-info,
.btn-danger,
.btn-secondary {
  border-radius: 20px;
}

.btn-info,
.btn-danger,
.btn-secondary {
  width: 73px;
}

h3 {
  font-weight: bold;
}

.close {
  color: red;
  margin-top: -1rem;
  cursor: pointer;
}
